<div class="col-sm-12 col-xl-6">
  <div class="bg-secondary text-center rounded p-0 card">
    <div class="d-flex align-items-center justify-content-between card-header">
      <h6 class="mb-0">SECTIONS 2

      </h6>


      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>

      </div>
    </div>
    <div class="card-body h-25">

      <canvas id="worldwide-sales"></canvas>
      <canvas id="pie-chart"></canvas>
    </div>
  </div>
</div>

<!-- <script src="/../js/progress-bar.js"></script> -->