<div class="col-sm-12 col-xl-6">
  <div class="bg-secondary text-center rounded p-1 card">
    <div class="d-flex align-items-center justify-content-between card-header">
      <h6 class="mb-0">SECTIONS</h6>


      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse">
          <i class="fas fa-minus"></i>
        </button>

      </div>
    </div>
    <div class="card-body">

      <canvas id="worldwide-sales"></canvas>
    </div>
  </div>
</div>