


    <!-- Content Start -->



        <!-- Chart Start -->
        <div class="d-flex container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Images</h6>
                            <div class="slides">
                                    <img class="slide" src="img/Operations.png">
                                    <img class="slide" src="img/Lands.png">
                                    <img class="slide" src="img/Environmental.png">
                            </div>
                            <button><</button>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">targets</h6>
                        <div class="row g-4">

                            <div class="w-25 h-25 bg-primary">1</div>
                            <div class="w-25 h-25 bg-green">2</div>
                            <div class="w-25 h-25 bg-blue-dark">3</div>
                            <div class="w-25 h-25 bg-light">4</div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Multiple Charts</h6>
                        <canvas id="salse-revenue"></canvas>
                        
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Multiple Bar Chart</h6>
                        <canvas id="worldwide-sales"></canvas>
                    </div>
                </div>
      
            </div>
        </div>
        <!-- Chart End -->


        <!-- Footer Start -->

        <!-- Footer End -->
    </div>


    <!-- Content End -->


