
    <!-- Include Leaflet JavaScript -->


    <script src="lib/leaflet/leaflet1.7.min.js" integrity="sha512-SeiQaaDh73yrb56sTW/RgVdi/mMqNeM2oBwubFHagc5BkixSpP1fvqF47mKzPGWYSSy4RwbBunrJBQ4Co8fRWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="lib/leaflet/leaflet1.7.min.css" integrity="sha512-1xoFisiGdy9nvho8EgXuXvnpR5GAMSjFwp40gSRE3NwdUdIMIKuPa7bqoUhLD0O/5tPNhteAsE5XyyMi5reQVA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="lib/leaflet/Leaflet.PolylineMeasure.css" />
    <link rel="stylesheet" href="css/geovisor.css">
    <link rel="stylesheet" href="css/legend.css">
    
    <script src="lib/leaflet/Leaflet.PolylineMeasure.js"></script>

    <link rel="stylesheet" href="lib/leaflet/L.Control.Layers.Tree.css" crossorigin=""/>
    <script src="lib/leaflet/L.Control.Layers.Tree.js"></script>



    <div class="navbar-collapse collapse">
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group has-feedback">
          <a class="legend-title" href="#">HIDE LAYERS</a>
         
        </div>
      </form>

    </div><!--/.navbar-collapse -->

    <div class="content-wrapper px-3">

      <div id="map" class="rounded  border-5 mt-2 bd-gray-dark"></div>

    </div>



  <script src="js/GIS.js"></script>


