
    <!-- Include Leaflet JavaScript -->


    <script src="lib/leaflet/leaflet1.7.min.js" integrity="sha512-SeiQaaDh73yrb56sTW/RgVdi/mMqNeM2oBwubFHagc5BkixSpP1fvqF47mKzPGWYSSy4RwbBunrJBQ4Co8fRWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="lib/leaflet/leaflet1.7.min.css" integrity="sha512-1xoFisiGdy9nvho8EgXuXvnpR5GAMSjFwp40gSRE3NwdUdIMIKuPa7bqoUhLD0O/5tPNhteAsE5XyyMi5reQVA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="lib/leaflet/Leaflet.PolylineMeasure.css" />
    <link rel="stylesheet" href="css/geovisor.css">
    <link rel="stylesheet" href="css/legend.css">
    
    <script src="lib/leaflet/Leaflet.PolylineMeasure.js"></script>

    <link rel="stylesheet" href="lib/leaflet/L.Control.Layers.Tree.css" crossorigin=""/>
    <script src="lib/leaflet/L.Control.Layers.Tree.js"></script>
    <script src="lib/leaflet/leaflet.polylineDecorator.js"></script>



        <div class="form-group has-feedback bg-blue-dark d-flex justify-content-between">
          <div>
            <a class="legend-title" href="#">HIDE LEGEND</a>

          </div>
         
          <div>
            <a class="layer-title" href="#">HIDE LAYERS</a>

          </div>
         
        </div>


        <!-- <style>
          .rectangle {
              display: inline-block;
              width: 100px; /* Adjust width as needed */
              height: 5px; /* Adjust height as needed */
              background-color: blue; /* Change color as needed */
          }
      </style>
     -->
      
      
  
    <div class="container-gis"> 

        
        <div id="legend" class="legend overflow-scroll"></div>

        <div id="map" class="map2 w-100 overflow-auto"></div>
        
  
    </div>




  <script src="js/GIS.js"></script>

  <script src="/../lib/leaflet/measure.js"></script>
  <script src="/../lib/leaflet/layers-tree.js"></script>
  <!-- <script src="lib/leaflet/legend.js"></script> -->
  <script src="/../lib/leaflet/street-view.js"></script>


