

<style>
    table {
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
</style>

<script>


var areas = <%- JSON.stringify(areas); %>
var sectionParam2 = <%- sectionParam; %>
var data = <%- JSON.stringify(data);  %>




</script>


<h2>Section <%= sectionParam %> Interferences by Areas </h2>

<div id="tableContainer"></div>





<script src="/../js/sections.js"></script>

</body>

