
/* .img-card-area {

    width: 90%;

} */

.slider{

    position: relative;
    width: 100%;

    margin: auto;
    overflow: hidden;
}

.slider img{
    width: 100%;
    display: none;

}

img.displaySlide{
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
   
}

.slider button{

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: hsla(0,0%,0%,0.5);
    border: none;
    color: white;
    cursor: pointer;
}

.prev{
left: 0;    
}
.next{
right: 0;    
}


.mini-target-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.mini-target {
    width: 50%;
    height: 50%;
}

@keyframes fade {
    form {opacity: .5;}
    to {opacity: 1;}

}

