/********** Template CSS **********/
:root {
    --primary: #EB1616;
    --secondary: #191C24;
    --light: #6C7293;
    --dark: #000000;
        --blue-dark: #18579b;
        --blue: #124378;
        --red-deep: #ca3535;
        --yellow-live: #f9df58;
        --gray-pearl: #d1d1d4;
        --green-lime: #60ab55;
        --blue-light: #00abe9;
        --orange-live: #e47839;
        --gray-dark: #343a40;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --teal: #20c997;
        --cyan: #0a606d;
        --white: #fff;
        --blue-king: #007bff;
        /* --secondary: #6c757d; */
        --success: #28a745;
        --info: #17a2b8;
        --magenta: #f10ec4;
        --danger: #dc3545;
        /* --light: #f8f9fa; */
        /* --dark: #343a40; */
        --wine: #980748
      
      
}


.text-pink{
    color: var(--pink);
}

.text-green-lime{

    color: var(--green-lime);
}
.text-teal{

    color: var(--teal);
}
.text-orange-live{

    color: var(--orange-live);
}
.text-purple{

    color: var(--purple);
}
.text-cyan{

    color: var(--cyan);
}
.text-blue-king{

    color: var(--blue-king);
}
.text-red-deep{

    color: var(--red-deep);
}
.text-wine{

    color: var(--wine);
}
.text-blue-dark{

    color: var(--blue-dark);
}
.text-gray-pearl{

    color: var(--gray-pearl);
}
.text-magenta{

    color: var(--magenta);
}
.text-yellow-live{

    color: var(--yellow-live);
}




.bg-pink{
    background: var(--pink);
}

.bg-green-lime{

    background: var(--green-lime);
}
.bg-teal{

    background: var(--teal);
}
.bg-orange-live{

    background: var(--orange-live);
}
.bg-purple{

    background: var(--purple);
}
.bg-cyan{

    background: var(--cyan);
}
.bg-blue-king{

    background: var(--blue-king);
}
.bg-red-deep{

    background: var(--red-deep);
}
.bg-wine{

    background: var(--wine);
}
.bg-blue-dark{

    background: var(--blue-dark);
}
.bg-gray-pearl{

    background: var(--gray-pearl);
}
.bg-magenta{

    background: var(--magenta);
}
/* borders */
.bd-pink{
    border: 3px solid var(--pink);  
}
.bd-yellow-live{
    border: 3px solid var(--yellow-live);  
}


.bd-green-lime{

    border: 3px solid var(--green-lime);
}
.bd-teal{

    border: 3px solid var(--teal);
}
.bd-orange-live{

    border: 3px solid  var(--orange-live);
}
.bd-purple{

    border: 3px solid var(--purple);
}
.bd-cyan{

    border: 3px solid var(--cyan);
}
.bd-blue-king{

    border: 3px solid var(--blue-king);
}
.bd-red-deep{

    border: 3px solid  var(--red-deep);
}
.bd-wine{

    border: 3px solid var(--wine);
}
.bd-blue-dark{

    border: 3px solid  var(--blue-dark);
}
.bd-gray-pearl{

    border: 3px solid  var(--gray-pearl);
}
.bd-magenta{

    border: 3px solid  var(--magenta);
}
.bd-teal{

    border: 3px solid  var(--teal);
}
.bd-danger{

    border: 3px solid  var(--danger);
}
.bd-success{

    border: 3px solid  var(--success);
}
.bd-info{

    border: 3px solid  var(--info);
}
.bd-info{

    border: 3px solid  var(--info);
}
.bd-gray-dark{

    border: 3px solid  var(--gray-dark);
}
.bd-light{

    border: 3px solid  var(--light);
}
.bd-yellow-live{

    border: 3px solid  var(--yellow-live);
}


.hover-danger:hover, .hover-danger.active{
    background: var(--danger);
}
.hover-light:hover, .hover-light.active{
    background: var(--light);
}

.hover-success:hover, .hover-success.active{
    background: var(--success);
}
.hover-primary:hover, .hover-primary.active{
    background: var(--primary);
}

.hover-pink:hover, .hover-pink.active{
    background: var(--pink);
}
.hover-info:hover, .hover-info.active{
    background: var(--info);
}
.hover-magenta:hover, .hover-magenta.active{
    background: var(--magenta);
}

.hover-green-lime:hover, .hover-green-lime.active{

    background: var(--green-lime);
}
.hover-teal:hover, .hover-teal.active{

    background: var(--teal);
}
.hover-orange-live:hover, .hover-orange-live.active{

    background: var(--orange-live);
}
.hover-purple:hover, .hover-purple.active{

    background: var(--purple);
}
.hover-cyan:hover, .hover-cyan.active{

    background: var(--cyan);
}
.hover-blue-king:hover, .hover-blue-king.active{

    background: var(--blue-king);
}
.hover-red-deep:hover, .hover-red-deep.active{

    background: var(--red-deep);
}
.hover-wine:hover, .hover-wine.active{

    background: var(--wine);
}
.hover-blue-dark:hover, .hover-blue-dark.active{

    background: var(--blue-dark);
}
.hover-gray-pearl:hover, .hover-gray-pearl.active{

    background: var(--gray-pearl);
}
.hover-gray-dark:hover, .hover-gray-dark.active{

    background: var(--gray-dark);
}
.hover-yellow-live:hover, .hover-yellow-live.active{

    background: var(--yellow-live);
}


.nav-logo{
    display: none;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.spinner-logo{
    width: 200px;

}

/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.centrar {
    text-align: center;
    margin: 0 auto;
  }

/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    /* background: var(--gray-pearl); */
    transition: 0.5s;
    z-index: 999;
}

.nav-round{
    
    border-radius: 40px 40px 40px 40px;

}

#logo-sidebar-min {
    width: 150px;

}
::-webkit-scrollbar {
    display: none;
}
.content {
    margin-left: 250px;
    min-height: 100vh;
    
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }


    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 250px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }
    .nav-logo{
        display: block;
    }
    .sidebar.open {
        margin-left: 0;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }
}


/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--light); /*Color Icon Text Navbar */
    font-weight: 500;
    /* border-left: 3px solid var(--secondary); */
    border-radius: 30px 0 0 30px;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    /* color: var(--primary); */
    /* background: var(--gray-pearl); */
    /* border-color: var(--primary); */
}



.navbar{

    margin-left: 15px;
  /* border: 3px solid var(--pink);   */

}





.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-pearl);  /**Color Icons Sidebar **/
}



.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--light);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--secondary);
}


#container-body{

    background-image: url(../img/bg-blue-op.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed
    

}

.content .navbar .navbar-nav .nav-link {
    margin-left: 25px;
    padding: 12px 0;
    color: var(--light);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
    .content .navbar .navbar-nav .nav-link {
        margin-left: 15px;
    }
}


/*** Date Picker ***/
.bootstrap-datetimepicker-widget.bottom {
    top: auto !important;
}

.bootstrap-datetimepicker-widget .table * {
    border-bottom-width: 0px;
}

.bootstrap-datetimepicker-widget .table th {
    font-weight: 500;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    padding: 10px;
    border-radius: 2px;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background: var(--primary);
}

.bootstrap-datetimepicker-widget table td.today::before {
    border-bottom-color: var(--primary);
}


/*** Testimonial ***/
.progress .progress-bar {
    width: 0px;
    transition: 2s;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
}